body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
/*------------------Header CSS------------------*/
#header
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("img/bookcover.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.user-box img
{
    border-radius: 50%;
    width: 300px;
    border: 3px solid #6caed5;
}
.user-box h1
{
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    margin: 10px;
}
.user-box p
{
    color: #fff;
    font-style: italic;
    font-size: 20px;
    margin: 8px;
}
.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
    
}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

/*-------------About-----------*/
.about
{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: justify;
}
.profile-img
{
    width: 100%;
    height: auto;
    
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;

}
.navbar
{
    background-color: #000;
}
.navbar-brand img
{
    width: 50px;
    height: auto;
}
.navbar-brand
{
    color: #fff;
}
.nav-bar .fa-bars
{
    font-size: auto;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: auto;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    background: #000 !important;
}

/*------------EDUCATION AND EXPERIENCES----------------*/
.resume
{
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}
.resume h3
{
    text-align: center;
    margin-bottom: 50px;
   
}
.timeline
{
    list-style-type: none;
    position: relative;
}
.timeline:before
{
    content: '';
    background: #000;
    display: inline-block;
    position: absolute;
    left: 19px;
    width: 2px;
    height: 100%;
    z-index:1;
}
.timeline li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 5px;
    background: #f9f9f9;    
}
.timeline li h4 span
{
    color:#008;
}
.timeline li:before
{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
/*-----------AWARD&ACADEMIC-----------*/
.timelinebis
{
    list-style-type: none;
    position: relative;
}
.timelinebis:before
{
    content: '';
    background: #000;
    display: inline-block;
    position: absolute;
    left: 19px;
    width: 2px;
    height: 100%;
    z-index:1;
}
.timelinebis li
{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 5px;
    background: #f9f9f9;    
}
.timelinebis li h4 span
{
    color:#008;
}
.timelinebis li:before
{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    margin-top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.timelinebis li span
{
    font-style: bold;
    color: #800;
    font-size: 20px;
}

/*------------MY RESEARCH PROJECTS----------------*/
.research
{
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f9f9f9;
}
.research h3
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.researchcontainer
{
    position: relative;
    background: #fff2e6;
    padding: 50px;
    padding-right: 80px;
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: -45px;
}

.pig-img
{
    margin-right: 10px;
    margin-top: -10px;
    width: 40px;
    height: auto''
}
/*----------MY OTHER PROJECTS---------*/
.projects h3
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.projects
{
    text-align: justify;
}
.projectscontainer
{
    position: relative;
    background: #fff;
    padding: 50px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
}
.img-startupwe
{
    width: 180px;
    height: auto;
    padding-left: 10px;
}

/*--------------READMORE/READLESS-BUTTONS-----------*/

#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#myBtn1
{
  background-color: white;
  color: #4CAF50;
  border: none; 
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
    width: 100px;
    height: 30px;   
}
#myBtn2
{
  background-color: white;
  color: #4CAF50;
  border: none; 
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
    width: 100px;
    height: 30px;   
}
#myBtn3
{
  background-color: white;
  color: #4CAF50;
  border: none; 
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
    width: 100px;
    height: 30px;   
}

/*----------------ASSOCIATIONS AND VOLUNTEERING----------------------*/
.asso
{
    text-align: justify;
    padding: 50px;
    background: #f9f9f9;
}
.asso h3
{
    text-align: center;
    color: #f5deb3;
    margin-top: 20px;
    margin-bottom: 50px;
}
.assocontainer
{
    position: relative;
    background: #008080;
    padding: 50px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -80px;
}
.cheerup-img
{
    border-radius: 10%;
    width: auto;
    height: 150px;
    border: 3px solid #6caed5;
}
.cg-img
{
    border-radius: 10%;
    height: 150px;
    width: auto;
    border: 3px solid #6caed5;
}
.decon-img
{
    border-radius: 10%;
    height: 150px;
    width: auto;
    border: 3px solid #6caed5;
}
.ksi-img
{
    border-radius: 10%;
    width: auto;
    height: 150;
    border: 3px solid #6caed5;
}
.bwh-img
{
    border-radius: 10%;
    width: auto;
    height: 150px;
    border: 3px solid #6caed5;
}
.assocontainer
{
    text-align: center;
}

.dropdowndecon {
  position: relative;
  display: inline-block;
}
.dropdowndecon img {
  border-radius: 10%;
  border: 3px solid #6caed5;
}

.dropdowndecon-content {
  display: none;
  position: absolute;
  background-color: #f5deb3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdowndecon:hover .dropdowndecon-content {
  display: block;
}

.descdecon {
  padding: 15px;
  text-align: justify;
}

.dropdownbwh {
  position: relative;
  display: inline-block;
}

.dropdownbwh img {
  border-radius: 10%;
  border: 3px solid #6caed5;
}

.dropdownbwh-content {
  display: none;
  position: absolute;
  background-color: lightsteelblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}
.dropdownbwh:hover .dropdownbwh-content {
  display: block;
}
.descbwh {
  padding: 15px;
  text-align: justify;
}

.dropdowncu {
  position: relative;
  display: inline-block;
    
}
.dropdowncu img {
  border-radius: 10%;
  border: 3px solid #6caed5;
}

.dropdowncu-content {
  display: none;
  position: absolute;
  background-color: indianred;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdowncu:hover .dropdowncu-content {
  display: block;
}

.desccu {
  padding: 15px;
  text-align: justify;
}

.dropdownksi {
  position: relative;
  display: inline-block;
    
}
.dropdownksi img {
  border-radius: 10%;
  border: 3px solid #6caed5;
}

.dropdownksi-content {
  display: none;
  position: absolute;
  background-color: #6caed5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdownksi:hover .dropdownksi-content {
  display: block;
}

.descksi {
  padding: 15px;
  text-align: justify;
}

.dropdowncg {
  position: relative;
  display: inline-block;
    
}
.dropdowncg img {
  border-radius: 10%;
  border: 3px solid #6caed5;
}

.dropdowncg-content {
  display: none;
  position: absolute;
  background-color: #ff9933;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdowncg:hover .dropdowncg-content {
  display: block;
}

.desccg {
  padding: 15px;
  text-align: justify;
}

/*---------------PASSIONS-------*/
.passion
{
    text-align: justify;
    padding: 50px;
    }
.passion h3
{
    text-align: center;
    color: #fe4f45;
    margin-top: 20px;
    margin-bottom: 50px;
}
.passioncontainer
{
    position: relative;
    /*background: url(img/bg3.jpg);*/
    padding: 50px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 500px;
}

/*---------------CONTACTS-------*/
.contact
{
    text-align: justify;
    padding: 50px;
    }
.contact h3
{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}
.contactcontainer
{
    position: auto;
    background: #000;
    padding: 50px;
    margin-left: -15px;
    margin-right: -15px;
    color: darkgrey;
    font-family: sans-serif;
}

.contact img
{
    border-radius: 10%;
    border: 3px solid darkgrey;   
}

